{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your affiliate account has been created</h1>
    <div style="padding: 20px">
        Thank you!
        You will receive an email with your affiliate token
        as soon as your account will be activated.
    </div>
{% endblock %}